# ----------------------------
# IDE / JetBrains
# ----------------------------
.idea/
*.iml

# Если хочешь делиться конфигами запуска/стилем — можно раскомментировать:
#!.idea/runConfigurations/
#!.idea/codeStyles/

# ----------------------------
# Python cache / build
# ----------------------------
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.egg-info/
.eggs/
.build/
dist/
.pytest_cache/
.ipynb_checkpoints/
.mypy_cache/
.pyre/
.coverage*
htmlcov/

# ----------------------------
# Virtual environments
# ----------------------------
.venv/
venv/
env/

# ----------------------------
# Environment files
# ----------------------------
.env
.env.*

# ----------------------------
# Logs
# ----------------------------
logs/
*.log

# ----------------------------
# Local data (не пушим на GitHub)
# ----------------------------
uploads/
install/
model/

# Но разрешаем один файл install/model.zip
!install/model.zip

# ----------------------------
# System files
# ----------------------------
.DS_Store
Thumbs.db
